/* 
==========
Global CSS
==========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima";
}

@font-face {
  font-family: Proxima;
  src: url(./assets/regular/proximareg/Proxima\ Nova\ Alt\ Regular.otf);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 
==========
CSS Variables
==========
*/

:root {
  --primary-clr: #327466;
  --secondary-clr: #17b997;
  --black-clr: #000000;
  --white-clr: #ffffff;
  --small-font: 14.7778px;
  --medium-font: 18px;
  --large-font: 55.5574px;
  --letter-spacing: 0.01em;
  --font-weight: 600;
}

/* 
==========
Header
==========
*/

/* header {
  height: 100px;
} */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo-div {
  display: flex;
}
.logo-div h3 {
  font-size: 26px;
}
.img-wrapper {
  padding-right: 4.02px;
}
.navbar-links-div ul {
  display: flex;
}
.navbar-links-div ul li {
  padding-right: 31px;
}
.search-div img {
  position: absolute;
  padding-right: 9.33px;
  padding-left: 20px;
}
.search-div input {
  padding-left: 43px;
}
